include MANIFEST.in
include setup.py
include INSTALL.txt
include LICENSE.txt

recursive-include doc *.py *.rst Makefile *.html *.png *.txt *.css *.jar *.dynlib

global-exclude *~
global-exclude *.pyc
global-exclude .svn
